.App {
  text-align: center;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two buttons per row */
  gap: 20px; /* Space between buttons */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
